* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: #CFDDC2;
}

footer
{
    background: #466D1D;
    color: #382710;
    text-shadow: 1px 1px #101010;
    text-align: center;
    border-top: 10px solid #382710;
}

footer h2
{
    font-size: 25px;
}
/* Header Styles*/

header 
{
    padding: 20px 35px;
    background-color: #466D1D;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 10px solid #382710;
}

header h1
{
    background-color: #466D1D;
    text-shadow: 2px 2px #101010;
    font-weight: bold;
    font-size: 45px;
    font-family: "Lucida Console", "Courier New", monospace;
    color: #9A7B4F;
    margin: 0;
}

header nav
{
    margin: 7px 0;
}

header nav ul
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a 
{
    background-color: #466D1D;
    text-shadow: 1px 1px #101010;
    color: #9ACD32;
    padding: 10px 15px;
    font-size: 1.55vw;		
}

.about
{
    padding-left: 75px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    align-items: flex-start;
}

.about p
{
    padding-top: 25px;
    font-size: 22px;
}
.about-me
{
    padding-top: 65px;
    width: 35%;
    text-align: left;
    margin: 5%;
}

 .about-image
{
    margin: 50px;
}
 .about-image img
 {
    border: 5px solid #382710;
 }

.about h2
{
    text-shadow: 1px 1px #101010;
    font-weight: bold;
    font-size: 32px;
    font-family: "Lucida Console", "Courier New", monospace;
    color: #382710;
    margin-top: 2%;
}

.projects h2
{
    text-shadow: 1px 1px #101010;
    font-weight: bold;
    font-size: 32px;
    font-family: "Lucida Console", "Courier New", monospace;
    color: #382710;
    margin-top: 5%;
    margin-left: 85%;
}

.projects
{
    width: 100%;
    text-align: center;
    margin: 65px 0;
}

.run-buddy
{
    margin: 50px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.run-buddy a
{
    font-family: "Lucida Console", "Courier New", monospace;
    color: #382710;
    font-size: 22px;
    display: flex;
    flex-wrap: wrap;
}

.run-buddy img
{
    border: 5px solid #382710;
    width: 85%;
}

.placehold
{
    padding-left: 75px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
}

.placehold img
{
    border: 5px solid #382710;
    width: 35%;
}

.placehold p
{
    font-family: "Lucida Console", "Courier New", monospace;
    color: #382710;
    font-size: 22px;
    display: flex;
    flex-wrap: wrap;
    margin: 35px;
}


.contact-info h2
{
    text-shadow: 1px 1px #101010;
    font-weight: bold;
    font-size: 32px;
    font-family: "Lucida Console", "Courier New", monospace;
    color: #382710;
}

.contact-info ul li a
{
    color: #9A7B4F;
    padding: 10px 15px;
}

.contact-info ul li
{
    font-size: 22px;
}